a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin: 0px 20px 0px 20px;
}

body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  background-color: lightgrey;
  margin: 0;
}

h1 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 45px;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

footer {
  background-color: #c0dec5;
  margin: 64px;
  display: inline-block;
}

header {
  background-color: #f15b31;
  color: #ffffff;
  padding: 30px 20px 30px 20px;
}

nav {
  background-color: #00a6b3;
  padding: 20px 0px 20px 0px;
}

main {
  width: 850px;
  margin: 35px auto 35px auto;
}

img {
  margin: 40px 8px 0px 8px;
}
